.facebook {
  width: 340px !important;
  margin-top: 3em;
  position: absolute;
  left: calc(((100% - 700px)/2 - 300px)/2);

  @media screen and (min-width: 0px) and (max-width: 1400px) {
    display: none;
  }
}

.facebookMobile {
  display: block;
  margin-top: 3em;
  margin-bottom: 4em;
  text-align: center;



  @media screen and (min-width: 769px) and (max-width: 1400px) {
    margin-top: 1em;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    margin-bottom: 0;

    div {
      display: inline-block;
      width: 49%;
      vertical-align: middle;
    }
  }



  @media screen and (min-width: 1401px) {
    display: none;
  }
}
