.facebook {
  width: 340px !important;
  margin-top: 3em;
  position: absolute;
  left: calc(((100% - 700px)/2 - 300px)/2);

  @media screen and (min-width: 0px) and (max-width: 1400px) {
    // position: initial;
    // display: block;
    display: none;
  }
}

.facebookMobile {
  display: block;
  margin-top: 3em;
  margin-bottom: 4em;
  text-align: center;



  @media screen and (min-width: 769px) and (max-width: 1400px) {
    margin-top: 1em;
    width: 300px;
    float: right;
    margin-right: calc(10%);
    margin-left: 30px;
    margin-bottom: 0;
  }



  @media screen and (min-width: 1401px) {
    display: none;
  }
}
