.boxnav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  @media screen and (min-width: 0px) and (max-width: 768px) {
    display: block;
  }
}

.content {

  i {
    display: block;
  }

  @media screen and (min-width: 0px) and (max-width: 768px) {
    font-size: calc(1vw * 1 + 14px)
  }


}


.box {
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
  align-content: flex-start;
  width: 25%;
  height: 300px;
  color: #ddda78;

  @media screen and (min-width: 0px) and (max-width: 768px) {
    width: 100%;
    height: 200px;
  }

  .hed {
    color: white;
    font-size: 1.5em;

    // @media screen and (min-width: 0px) and (max-width: 768px) {
    //   font-size: 2em;
    // }
  }
}

.boxes {
 padding: 25%;
 height: 300px;
 padding-top: 22%;

   @media screen and (min-width: 0px) and (max-width: 768px) {
     height: 200px;
     padding: 20%;
     padding-top: 15%;
   }

}


.box1 {
  background-color: #292686;
  color: #ddda78;

}

.box2 {
  background-color: #578aee;
  color: #ddda78;

}

.box3 {
  background-color: #a8cf99;
  color: white;
}

.box4 {
  background-color: #ddda78;
  color: white;
}
