@import "utilities/variables";
@import 'bootstrap/mixins/breakpoints';
footer {
  color: $graymedium;
  padding: $portal-padding-mobile;
  height: 140px;
  border-top: 1px solid $grayaccent;
   @include media-breakpoint-up(md) {
    padding: $portal-padding-desktop;
    height: 160px;
  }
  .copyright {
    font-size: .875em;
    text-align: center;
    padding: 0 10px 20px;
    margin-top: 2em;
  }
}
#componentDivFooter {
  margin: 20px auto;
  width: 270px;
  img {
    margin: 0 10px;
  }
}
