<p class="byline">{% if $bit.dateline %}<span class="dateline">{{ $bit.dateline }}</span>{% endif %} {% if $bit.byline1 %}<span class="byline1">{{ $bit.byline1 | safe }}</span> {% if $bit.byline2 %}
  <br><span class="byline2">{{ $bit.byline2 | safe }}</span>{% endif %} {% if $bit.byline3 %}
  <br><span class="byline3">{{ $bit.byline3 | safe }}</span>{% endif %} {% if $bit.byline4 %}
  <br><span class="byline4">{{ $bit.byline4 | safe }}</span>{% endif %} {% if $bit.byline5 %}
  <br><span class="byline5">{{ $bit.byline5 | safe }}</span>{% endif %} {% endif %}</p>
