.newsclips {
  max-width: 1000px;
  margin: 1em auto !important;


  .clip {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    height: 300px;
    margin-top: 15px;

    @media screen and (min-width: 0px) and (max-width: 500px) {
      width: 100%;
      display: block;
    }


    img {
      width: 100%;
    }

    .clipname {
      color: white;
      text-shadow: 2px 2px black;
      font-weight: bold;
      font-size: 1.5em;
      padding-top: 35%;
      font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
      text-align: center;

      @media screen and (min-width: 0px) and (max-width: 500px) {
        padding-top: 25%;
        font-size: 2.5em;
      }
    }

    .clipdate {
      text-align: center;
      color: white;
      font-family: 'open sans', sans-serif;
      padding-bottom: 15%;

      @media screen and (min-width: 0px) and (max-width: 500px) {
        padding-bottom: 10%;
      }
    }
  }

  .clip:hover {
    opacity: 0.8;
  }
}
