.allLinks {
  // text-align: center;
  margin-top: 1.5em;
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;

  .link {
    margin-left: 25%;
  }
}

.icon {
  width: 20px;
  margin-right: 10px;
}
