<div class="allLinks">
  {% if $bit.l1 %}
  <div class="link">
    <a href="{{ $bit.l1 }}"><img class="icon" src="http://s3.amazonaws.com/ledejs/resized/collardgreen/1500/icon.png">{{ $bit.l1text }}</a>
  </div>
  {%endif %}
  {% if $bit.l2 %}
  <div class="link">
    <a href="{{ $bit.l2 }}"><img class="icon" src="http://s3.amazonaws.com/ledejs/resized/collardgreen/1500/icon.png">{{ $bit.l2text }}</a>
  </div>
  {%endif %}
  {% if $bit.l3 %}
  <div class="link">
    <a href="{{ $bit.l3 }}"><img class="icon" src="http://s3.amazonaws.com/ledejs/resized/collardgreen/1500/icon.png">{{ $bit.l3text }}</a>
  </div>
  {%endif %}
  {% if $bit.l4 %}
  <div class="link">
    <a href="{{ $bit.l4 }}"><img class="icon" src="http://s3.amazonaws.com/ledejs/resized/collardgreen/1500/icon.png">{{ $bit.l4text }}</a>
  </div>
  {%endif %}
  {% if $bit.l5 %}
  <div class="link">
    <a href="{{ $bit.l5 }}"><img class="icon" src="http://s3.amazonaws.com/ledejs/resized/collardgreen/1500/icon.png">{{ $bit.l5text }}</a>
  </div>
  {%endif %}
</div>
