<div class="fs push wrap lede{% if $bit.class %} {{ $bit.class }}{% endif %}">
  <figure class="fixedimg" {% if $bit.srcid %} id="{{ $bit.srcid | slugify({ replacement: " _ ", lower: true })}}"{% else %} id="{{ $bit.src | slugify({ replacement: " _ ", lower: true })}}"{% endif %}>
    <img class="print-only" src="//s3.amazonaws.com/ledejs/resized/{{ $PROJECT.$name | urlencode }}/480/{{ $bit.src | urlencode }}.{% if $bit.imgtype %}{{ $bit.imgtype }}{% else %}jpg{% endif %}">
    <div class="image{% if $bit.class %} {{ $bit.class }}{% endif %}" style="{% if $bit.height %} height: {{ $bit.height }};{% endif %}background-position: {% if $bit.backgroundpos %}{{ $bit.backgroundpos }};{% else %}50% 50%;{% endif %}" {%- if $bit.alt %} role="img" aria-label="{{ $bit.alt }}" {% endif %}>
      {% if $bit.kicker or $bit.hed or $bit.subhed -%}
      <div class="headline-overlay
  {%- if $bit.textbackground %} textbackground{% endif %}
  {%- if $bit.textshadow %} textshadow{% endif %}
  {%- if $bit.ypos == 'top' %} top{% elif $bit.ypos == 'middle' %} middle{% else %} bottom{% endif %}
  {%- if $bit.xpos == 'left' %} left{% elif $bit.xpos == 'center' %} center{% elif $bit.xpos == 'right' %} right{% endif %}">
        {% if $bit.kicker -%}
        <div class="h2" style="{% if $bit.textcolor %}color: {{ $bit.textcolor }};{% endif %}{% if $bit.headsize %} font-size: calc(1.5vw * (1 + {{ $bit.headsize }}) + 27px){% endif %}">{{ $bit.kicker | safe }}</div>
        {%- endif %}
        {% if $bit.hed -%}
        <h1{% if $bit.textcolor or $bit.headsize %} style="{% if $bit.textcolor %}color: {{ $bit.textcolor }};{% endif %}{% if $bit.headsize %} font-size: calc(3vw * (1 + {{ $bit.headsize }}) + 27px){% endif %}"{% endif %}>{{ $bit.hed | safe }}</h1>
        {%- endif %}
        {% if $bit.subhed -%}
        <h2 style="{% if $bit.textcolor %}color: {{ $bit.textcolor }};{% endif %}{% if $bit.headsize %} font-size: calc(1.5vw * (1 + {{ $bit.headsize }}) + 27px){% endif %}">{{ $bit.subhed | safe }}</h2>
        {%- endif %}
      </div>
      {%- endif %}
    </div>


    <div class="item-1"><h1>Tampa Bay Collard Green Festival</h1><h3>We love greens!</h3></div>

    <div class="item-2"><h2>Do you have the best collard green recipe in Tampa Bay?</h2><h3>Register Today!</h3></div>

    <!-- <p class="item-3">You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes.</p> -->


    {% if $bit.credit or $bit.caption %}
    <figcaption>
      {% if $bit.credit %}<div class="credit">{{ $bit.credit | safe }}</div>{% endif %}
      {% if $bit.caption %}<div class="caption">{{ $bit.caption | safe }}</div>{% endif %}
    </figcaption>{% endif %}
  </figure>
</div>
