.header {
  padding-top: 10px;
  padding-bottom: 14px;

  @media screen and (min-width: 0px) and (max-width: 490px) {
    padding-bottom: 27px;
  }
}

.org {
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
  color: #18157C;
  margin-left: 1em;
  margin-right: 2em;
}

.menu {
  margin-top: .2em;
  font-family: 'open sans', sans-serif;
  // display: inline;
  font-size: .8em;
  float: right;
  a {
    margin-right: 1.4em;
  }
}
