.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.org {
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
  color: #18157C;
  margin-left: 1em;
  margin-right: 2em;
}

.menu {
  font-family: 'open sans', sans-serif;
  display: inline;
  font-size: .8em;
  // float: right;
  a {
    margin-right: 1.5em;
  }
}
