.donate {
  display: block;
  margin: auto;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-family: 'Lobster',cursive;
  background-color: #578aee;
  color: white;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;


}


.donatelink {
  // width: 30%;
  // display: block;
  // margin: auto;
  // margin-left: 34%;
  // margin-right: 34%;
}
