@import 'utilities/variables';
@import 'bootstrap/mixins/breakpoints';
.header-home-link {
  display: block;
  margin: auto;
  font-family: $font-family-sans-condensed;
  font-weight: bold;
  top: 6px;
  position: fixed;
  opacity: .8;
  font-size: 1.1rem;
  color: #fff;
    &:hover, &:focus {
    color: #ccc;
    opacity: .6;
  }
  text-align: center;
  z-index: 1000;
  width: calc(100vw - 180px);
  left: 40px;
  @include media-breakpoint-up(sm) {
    top: 1px;
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(md) {
    width: 240px;
    transform: translate(-50%, 0);
    left: 50%;
    font-size: 1.8rem;
  }
}
.about-block .header-home-link, .main-block .header-home-link {
  position: fixed;
}