@import 'bootstrap/mixins/breakpoints';

.video {
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
// keep video inside browser viewport
.video.fs {
    max-width: calc(99vh * (16/9));
    margin-left: auto;
    margin-right: auto;
}

// FOR BRIGHTCOVE VIDEO
@media screen {
  .video-js {
    &.bc-player-default_default {
      width: 100% !important;
      height: 100% !important;
      padding-bottom: 56.25% !important;
      .vjs-big-play-button {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
      }
    }
  }
  .column-plus.large {
    position: relative;
    width: 100%;
    width: 100vw;
    max-width: 1400px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
// END FOR BRIGHTCOVE VIDEO