.next-year {
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
  max-width: 1000px;
  margin: auto !important;
  padding-top: 3em;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #578aee;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: 2em;
  }
}
