.wptease {
  font-family: 'Lobster',cursive;
  text-align: center;
  display: block;
  color: white;
  margin: 5px auto;
  font-size: 1.3em;

  i { margin: 0 5px;}
}

.specialh2 { color: white; text-align: center; }

.wptease:hover {
  text-decoration: underline;
  color: #eee;
}

.pictureholder img { width: 25%;

  @media screen and (min-width: 0px) and (max-width: 800px) {
    width: 50%; 
  }

}
.pictureholder { font-size: 0px; }
.gallery { background-color: #292686; padding: 1em 0 0 0;}
