@import 'partials/googlefonts';
@import 'utilities/variables';
@import 'bootstrap/bootstrap-modified';
@import 'partials/typography';
@import 'utilities/mixins';
@import 'partials/base';
@import 'partials/figures';
@import 'partials/insets';
@import 'partials/ads';
// @import 'themes/breaking'; // bigger headlines — a work in progress
// @import 'themes/dark'; // make dark page
// @import 'themes/transparent-header'; // make transparent header

// keep print last, please
@import 'partials/print';

// Order here is important.
// If you move @imports around and it breaks, try ordering them:
// googlefonts
// variables
// bootstrap-modified
// typography
// mixins
// base
// figures
// insets
// other partials
// themes
// print (LAST)

h1.news {
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
  text-align: center;
}

.divide {
  margin-top: 3em;
}

.date {
  font-size: 34px;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: 24px;
  }
}

// olive green accent color #566b51
a {
  color: #18157C !important;
  // font-family: 'open sans', sans-serif !important;
}

.color {
  color: #292686;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  margin-top: 2em;
}

.color2 {
  color: #18157C;
  font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif;
}

.center {
  // margin-left: 2em;
  font-family: 'open sans', sans-serif !important;
}

body {
  padding-top: 0 !important;
  background-color: rgb(255, 255, 255) !important;

  // p {
  //   font-family: 'open sans', sans-serif !important;
  // }

  h2, h3, h4 {
    font-family: 'Fjalla One', 'PT Sans Narrow', sans-serif !important;
    color: #566b51;
  }
}

.bump {
  margin-top: 70px;
}

.bumpboth {
  margin: 4em auto;
}

.bumpspecial {
  margin-top: 70px;


  @media screen and (min-width: 770px) and (max-width: 1400px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 0px) and (max-width: 769px) {
    margin-top: 0.5em;
  }
}
